In [1]:
import numpy as np 
import pandas as pd
store_df=pd.read_csv('C:/Users/Mirela/Downloads/Superstore/Superstore.csv',  encoding = "ISO-8859-1")

In [2]:
# Viewing data

In [3]:
store_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
# The columns of the resulting DataFrame have different dtypes:

In [6]:
store_df.tail(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [7]:
store_df.index

RangeIndex(start=0, stop=9994, step=1)

In [8]:
store_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [9]:
store_df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [10]:
# Sort

In [11]:
store_df.sort_values(by="Order Date")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8074,8075,CA-2017-151750,1/1/2017,1/5/2017,Standard Class,JM-15250,Janet Martin,Consumer,United States,Huntsville,...,77340,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",13.748,14,0.8,-22.6842
848,849,CA-2017-107503,1/1/2017,1/6/2017,Standard Class,GA-14725,Guy Armstrong,Consumer,United States,Lorain,...,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
8075,8076,CA-2017-151750,1/1/2017,1/5/2017,Standard Class,JM-15250,Janet Martin,Consumer,United States,Huntsville,...,77340,Central,OFF-AP-10004708,Office Supplies,Appliances,Fellowes Superior 10 Outlet Split Surge Protector,15.224,2,0.8,-38.8212
8073,8074,CA-2017-151750,1/1/2017,1/5/2017,Standard Class,JM-15250,Janet Martin,Consumer,United States,Huntsville,...,77340,Central,OFF-BI-10000301,Office Supplies,Binders,GBC Instant Report Kit,6.470,5,0.8,-9.7050
8071,8072,CA-2017-151750,1/1/2017,1/5/2017,Standard Class,JM-15250,Janet Martin,Consumer,United States,Huntsville,...,77340,Central,FUR-CH-10003199,Furniture,Chairs,Office Star - Contemporary Task Swivel Chair,310.744,4,0.3,-26.6352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7875,7876,CA-2017-168403,9/9/2017,9/15/2017,Standard Class,DK-12835,Damala Kotsonis,Corporate,United States,Portland,...,97206,West,OFF-PA-10002036,Office Supplies,Paper,Xerox 1930,31.104,6,0.2,11.2752
5441,5442,CA-2017-155929,9/9/2017,9/13/2017,Standard Class,AI-10855,Arianne Irving,Consumer,United States,Glendale,...,85301,West,OFF-PA-10000859,Office Supplies,Paper,Unpadded Memo Slips,6.368,2,0.2,2.3880
6255,6256,CA-2017-139444,9/9/2017,9/15/2017,Standard Class,GK-14620,Grace Kelly,Corporate,United States,Plano,...,75023,Central,OFF-LA-10000134,Office Supplies,Labels,Avery 511,9.856,4,0.2,3.4496
8753,8754,CA-2017-152198,9/9/2017,9/10/2017,First Class,JD-16015,Joy Daniels,Consumer,United States,Toledo,...,43615,East,OFF-LA-10000443,Office Supplies,Labels,Avery 501,17.712,6,0.2,5.9778
7876,7877,CA-2017-168403,9/9/2017,9/15/2017,Standard Class,DK-12835,Damala Kotsonis,Corporate,United States,Portland,...,97206,West,OFF-AP-10003278,Office Supplies,Appliances,Belkin 7-Outlet SurgeMaster Home Series,11.176,1,0.2,0.8382

In [12]:
# DataFrame.sort_values() sorts by values:

In [13]:
# Selection

In [14]:
# Getting

In [15]:
# Selection by label

In [16]:
store_df.loc[:, ["Region", "Product Name",'Sales', 'Quantity', 'Discount', 'Profit']].sort_values(by="Region")

,Region,Product Name,Sales,Quantity,Discount,Profit
2594,Central,Tyvek Side-Opening Peel & Seel Expanding Envel...,180.960,2,0.0,81.4320
8943,Central,Hon Comfortask Task/Swivel Chairs,239.358,3,0.3,-47.8716
6665,Central,Xerox 1914,219.840,5,0.2,79.6920
2923,Central,Staples,6.080,1,0.0,3.0400
2922,Central,GBC Instant Report Kit,3.882,3,0.8,-5.8230
...,...,...,...,...,...,...
3225,West,Letter or Legal Size Expandable Poly String Ti...,12.768,6,0.2,4.6284
3224,West,Bose SoundLink Bluetooth Speaker,318.400,2,0.2,107.4600
7793,West,Xerox 1930,32.400,5,0.0,15.8760
3247,West,Col-Erase Pencils with Erasers,18.240,3,0.0,5.2896
9993,West,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [17]:
# Selection by position

In [18]:
store_df.iloc[:, [1,7,8,9]]

            Order ID    Segment        Country             City
0     CA-2016-152156   Consumer  United States        Henderson
1     CA-2016-152156   Consumer  United States        Henderson
2     CA-2016-138688  Corporate  United States      Los Angeles
3     US-2015-108966   Consumer  United States  Fort Lauderdale
4     US-2015-108966   Consumer  United States  Fort Lauderdale
...              ...        ...            ...              ...
9989  CA-2014-110422   Consumer  United States            Miami
9990  CA-2017-121258   Consumer  United States       Costa Mesa
9991  CA-2017-121258   Consumer  United States       Costa Mesa
9992  CA-2017-121258   Consumer  United States       Costa Mesa
9993  CA-2017-119914   Consumer  United States      Westminster

[9994 rows x 4 columns]

In [19]:
# Boolean indexing

In [40]:
store_df[store_df['Quantity'] > 5]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
7,8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
10,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.184,9,0.2,85.3092
16,17,CA-2014-105893,11/11/2014,11/18/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.880,6,0.0,13.3176
21,22,CA-2016-137330,12/9/2016,12/13/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.460,7,0.0,5.0596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,9975,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-AR-10004752,Office Supplies,Art,Blackstonian Pencils,18.690,7,0.0,5.2332
9977,9978,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-FA-10003467,Office Supplies,Fasteners,"Alliance Big Bands Rubber Bands, 12/Pack",13.860,7,0.0,0.0000
9979,9980,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10002026,Office Supplies,Binders,Ibico Recycled Linen-Style Covers,437.472,14,0.2,153.1152
9982,9983,US-2016-157728,9/22/2016,9/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.560,7,0.0,16.7132
9984,9985,CA-2015-100251,5/17/2015,5/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200

In [22]:
store_df[store_df["Region"].isin(["South", "West"])]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [23]:
# Missing data

In [24]:
store_df.fillna(value=0)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [25]:
# Missing data

In [26]:
pd.isna(store_df)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [56]:
store_df.mean()

Row ID          4997.500000
Postal Code    55190.379428
Sales            229.858001
Quantity           3.789574
Discount           0.156203
Profit            28.656896
dtype: float64

In [59]:
# Value counts (histogramming) / mode

In [60]:
store_df["Product ID"].value_counts()

OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
FUR-CH-10001146    15
TEC-AC-10003628    15
                   ..
OFF-PA-10001661     1
TEC-MA-10001570     1
OFF-PA-10000048     1
TEC-PH-10001949     1
OFF-EN-10004206     1
Name: Product ID, Length: 1862, dtype: int64

In [49]:
# Grouping

In [50]:
store_df.groupby("Segment")[["Sales", "Quantity"]].sum()

                    Sales  Quantity
Segment
Consumer     1.161401e+06     19521
Corporate    7.061464e+05     11608
Home Office  4.296531e+05      6744

In [51]:
store_df.groupby(["Segment", "Quantity"])[["Sales", "Profit"]].sum()

                            Sales      Profit
Segment     Quantity
Consumer    1          27060.9409   2604.5362
            2         145326.4684  16144.9808
            3         218331.6111  30417.5499
            4         171472.5852  24817.6500
            5         216480.1065  23168.8015
            6          92880.5820   2709.8232
            7         112396.1188  15373.8235
            8          60388.8560   2304.6960
            9          59129.0811   6713.2071
            10          6932.6400    384.7850
            11          6462.6100   1473.1739
            12          8242.6320   1065.9192
            13         28467.3610   5376.2501
            14          7829.7520   1564.0128
Corporate   1          15201.8972   2585.7225
            2          90716.0496  12413.3406
            3         128120.8929  15628.0644
            4          80542.7476   6384.7292
            5         140870.4050  20676.0360
            6          57946.5834   5679.4860
            7          93850.3321  14493.4454
            8          36893.1600   6216.2808
            9          38345.6430   4492.0485
            10         12623.2940    600.1700
            11          4081.9680   1130.1488
            12           681.6240    262.8816
            13          3418.7660    872.5106
            14          2853.0040    544.2696
Home Office 1          10989.0964   2250.2214
            2          53048.9618   9890.0874
            3          75608.0967  10969.9107
            4          71655.6616  13021.0116
            5          58311.1850   5671.7570
            6          56295.1560   1936.1586
            7          33661.9150   4419.7041
            8          20478.1600   2335.8192
            9          31030.8660   6482.6352
            10          4500.7300   1059.2020
            11          5227.9040   1690.0444
            12          5944.1520   -143.7348
            13           452.0620    100.1403
            14          2449.2020    615.7214

In [52]:
df = store_df[:5]

In [53]:
stacked = df.stack()
stacked
stacked.to_csv("stack.csv")

In [54]:
pd.pivot_table(store_df, values="Sales", index=["Order ID", "Product ID"], columns=["Category"])

Category                        Furniture  Office Supplies  Technology
Order ID       Product ID
CA-2014-100006 TEC-PH-10002075        NaN              NaN     377.970
CA-2014-100090 FUR-TA-10003715    502.488              NaN         NaN
               OFF-BI-10001597        NaN          196.704         NaN
CA-2014-100293 OFF-PA-10000176        NaN           91.056         NaN
CA-2014-100328 OFF-BI-10000343        NaN            3.928         NaN
...                                   ...              ...         ...
US-2017-169551 OFF-PA-10004100        NaN           15.552         NaN
               OFF-ST-10004835        NaN           13.392         NaN
               TEC-AC-10002018        NaN              NaN      16.776
               TEC-AC-10003033        NaN              NaN     527.920
               TEC-PH-10001363        NaN              NaN     683.988

[9986 rows x 3 columns]

In [61]:
pd.pivot_table(store_df, values="Sales", index=["Order ID", "Product ID"], columns=["Segment"])

Segment                         Consumer  Corporate  Home Office
Order ID       Product ID
CA-2014-100006 TEC-PH-10002075   377.970        NaN          NaN
CA-2014-100090 FUR-TA-10003715       NaN    502.488          NaN
               OFF-BI-10001597       NaN    196.704          NaN
CA-2014-100293 OFF-PA-10000176       NaN        NaN       91.056
CA-2014-100328 OFF-BI-10000343     3.928        NaN          NaN
...                                  ...        ...          ...
US-2017-169551 OFF-PA-10004100    15.552        NaN          NaN
               OFF-ST-10004835    13.392        NaN          NaN
               TEC-AC-10002018    16.776        NaN          NaN
               TEC-AC-10003033   527.920        NaN          NaN
               TEC-PH-10001363   683.988        NaN          NaN

[9986 rows x 3 columns]

In [55]:
store_df.to_csv("foo.csv")